
.list-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
}

.cursor-poiner {
    cursor: pointer;
}

.secondary {
    background: #e9ecef;
}


.toast {
    position: static;
    bottom: 0;
}