
.list-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 50vh;
}

.cursor-poiner {
    cursor: pointer;
}

.secondary {
    background: #e9ecef;
}


.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.field[aria-invalid = true] {
    border-color: red;   
}
